## Problem Statement - GDP and For Loop

## GDP

In [5]:

import pandas as pd  ###Software library written for the Python programming language for data manipulation and analysis.
import numpy as np ### fundamental package for scientific computing with Python
import os ### using operating system dependent functionality

# Set the working directory

In [6]:
os.chdir('/Users/Amit.Jain/Desktop/PGP-DSBA/')

# Import Excel file

Load the Data file into Python DataFrame using pandas read_excel method

The csv that we are going to load contains the unicode format data. We will use an additional encoding parameter which will allow pandas to load the csv.

In [9]:
data_df = pd.read_excel("GDP_Dataset.xlsx")

# View Top 10 rows

head function is used to view the top records. The number records to be view need to be  given in the parenthesis.

In [40]:
data_df.head(10)

,S.No,Country,Population,Yearly_Change,Land_Area,Population_Density,Migrants_Net,Median_Age,Urban_Population,World_Share_in_Population,GDP,GDP_per_Capita,Share_of_World_GDP,Status,Unnamed: 14,Unnamed: 15
0,1,China,1421021791,0.39,9388211,151.362362,-348399,38,61.0,18.47,12238.0,8.612113,15.12,Developing,NaN,NaN
1,2,India,1338676785,0.99,2973190,450.249323,-532687,28,35.0,17.70,2651.0,1.980314,3.28,Developing,NaN,NaN
2,3,United States,325084756,0.59,9147420,35.538409,954806,38,83.0,4.25,19485.0,59.938215,24.08,Developed,NaN,NaN
3,4,Indonesia,264650963,1.07,1811570,146.089283,-98955,30,56.0,3.51,1015.0,3.835240,1.25,Developing,NaN,NaN
4,5,Pakistan,207906209,2.00,770880,269.699835,-233379,23,35.0,2.83,305.0,1.467008,0.38,Developing,NaN,NaN
5,6,Brazil,207833823,0.72,8358140,24.866038,21200,33,88.0,2.73,2054.0,9.882896,2.54,Developing,NaN,NaN
6,7,Nigeria,190873244,2.58,910770,209.573486,-60000,18,52.0,2.64,376.0,1.969894,0.46,Developing,NaN,NaN
7,8,Bangladesh,159685424,1.01,130170,1226.745210,-369501,28,39.0,2.11,250.0,1.565578,0.31,Developing,NaN,NaN
8,9,Russia,145530082,0.04,16376870,8.886318,182456,40,74.0,1.87,1578.0,10.843119,1.95,Developing,NaN,NaN
9,10,Mexico,127502725,1.06,1943950,65.589508,-60000,29,84.0,1.65,1151.0,9.027258,1.42,Developing,NaN,NaN

,S.No,Country,Population,Yearly_Change,Land_Area,Population_Density,Migrants_Net,Median_Age,Urban_Population,World_Share_in_Population,GDP,GDP_per_Capita,Share_of_World_GDP,Status,Unnamed: 14,Unnamed: 15
0,1,China,1421021791,0.39,9388211,151.362362,-348399,38,61.0,18.47,12238.000,8.612113,15.12,Developing,NaN,NaN
1,2,India,1338676785,0.99,2973190,450.249323,-532687,28,35.0,17.70,2651.000,1.980314,3.28,Developing,NaN,NaN
2,3,United States,325084756,0.59,9147420,35.538409,954806,38,83.0,4.25,19485.000,59.938215,24.08,Developed,NaN,NaN
3,4,Indonesia,264650963,1.07,1811570,146.089283,-98955,30,56.0,3.51,1015.000,3.835240,1.25,Developing,NaN,NaN
4,5,Pakistan,207906209,2.00,770880,269.699835,-233379,23,35.0,2.83,305.000,1.467008,0.38,Developing,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,181,Vanuatu,77001,2.42,12190,6.316735,120,21,24.0,0.00,0.863,11.207647,0.00,Developing,NaN,NaN
168,183,Barbados,58058,0.12,430,135.018605,-79,40,31.0,0.00,4.670,80.436805,0.01,Developing,NaN,NaN
169,187,Sao Tome & Principe,33671,1.91,960,35.073958,-1680,19,74.0,0.00,0.393,11.671765,0.00,Developing,NaN,NaN
170,188,Samoa,17808,0.67,2830,6.292580,-2803,22,18.0,0.00,0.841,47.225966,0.00,Developing,NaN,NaN
171,189,Saint Lucia,11370,0.46,610,18.639344,0,34,19.0,0.00,1.740,153.034301,0.00,Developing,NaN,NaN

In [41]:
data_df_val= data_df.loc[data_df["Country"]== "Mexico"]['GDP (in $ Billions )'].values[0]
data_df_val

KeyError: 'GDP (in $ Billions )'

In [6]:
new_subset= data_df[data_df["GDP (in $ Billions )"]> data_df_val]
new_subset.size

182

## Compare the array values in a for loop

In [7]:
arr = [10, 324, 45, 90, 9808]

In [8]:
max=arr[0] ## Initialize a max variable with the first element in an array
max

10

In [9]:
n = len(arr)
n

5

In [10]:
 for i in range(1, n):
        if arr[i] > max:
            max = arr[i]

In [11]:
print(max)

9808